# Environment & Secret files
.env
*.env

# SQLite Database
*.db
*.sqlite3

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
venv/
env/
ENV/

# System / IDE Files
.DS_Store
.idea/
.vscode/
